body{
    font-size:13px;
}
.panel-title{
    font-size:15px;
}
table th, table td{
    padding: 5px;
}
.main{
    width:950px;
    margin-left:auto;
    margin-right:auto;
}
h1, h2, h3{
    color: rgb(51, 122, 183);
}
#header{
    width:100%;
    height: 65px;
    background-color: rgb(51, 122, 183);
}

#footer {
    width: 100%;
    text-align: center;
    padding-top: 7px;
    font-size: 12px;
    height: 23px;
    position: absolute;
    bottom:42px;
}

#footer a {
    color: #A2A2B9;
    font-size: 12px;
}

.left_head{
    background: url("../img/left_header.png");
    width: 132px;
    height:26px;
    color: white;
    padding:3px 5px;
}

.left_head a {
    color: white;
    text-decoration: underline;
}

.page_link a{
    display: block;
    color: #50468a;
}

.page_link .bullet{
    float: left;
    width: 7px;
    height: 8px;
    background: url("../img/arrow_bullet.png");
    margin:5px 5px 0 0;
}

.padded_text{
    padding: 5px 5px 15px 5px;
}

.content img{
    margin: 0 5px 5px 0;
}

span.bold{
    font-weight: bold;
}

.bcrumb{
    margin-top: 20px;
}