body{
    font-size: 12px;
    background-color: #E8E8E8;
}

a{
    text-decoration: underline;
}

a.img{
    text-decoration: none;
}

a:focus {outline:none;}

.faded{
    color: grey;
}

h1{
    font-size:18px;
}

button{
    cursor:pointer;
}

#main{
    width:900px;
    margin-left:auto;
    margin-right:auto;
    background:white;
    border:1px solid #E1E1E1;
}

.header{
    background: #2370A1;
    color:white;
    padding:15px 0;
}

.header a{
    color:#E1E1E1;
}

.logout{
    float:right;
    margin:10px;
}

.logout a{
    color:white;
    text-decoration:underline;
}

#menu{
    width:100%;
    height:25px;
    background: #373737;
    border-top:1px solid grey;
    color:#fff;
}

#menu ul{
    list-style:none;
    padding:0 0 0 15px;
    margin:0;
}

#menu li{
    display:inline;
    float: left;
    position:relative;
}

#menu li a, .help a, #menu li .text{
    float:left;
    display:block;
    text-decoration:none;
    color:#fff;
    padding:5px;
    height:24px;
}

#menu li span.text select{
    font-size: 10px;
}

#menu li a:hover,.help a:hover{
    background: #808080;
}

#menu  span.lang{
    color: black;
}

/* sub-menus*/
#menu div{
    position: absolute;
    display: none;
    width:150px;
    top:24px;
    margin: 0;
    padding: 0;
    background: #373737;
    border: 1px solid grey;
    z-index: 100;
}

#menu div a{
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 10px;
    width: 100%;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #373737;
    color: #fff;
    font: 11px arial;
}

#menu div a:hover{
    background: #808080;
    color: #FFF;
}

/* sub-menus end; drop menu end */

.mbody{
    float:left;
    width:inherit;
    padding:10px;
}

footer.footer{
    float:left;
    padding-top:10px;
    text-align:center;
    width:100%;
    height: 30px;
    color: #808080;
    font-size:12px;
}

footer.footer a{
    color: #848484;
    font-size:12px;
    text-decoration: none;
}

footer.footer a:hover{
    text-decoration: underline;
}

.content{
    float:left;
    width:100%; /*necessary for the dojo editor to fill the screen */
}

.container{
    padding: 0;
    width:100%;
    border-radius:5px;
    border:1px solid #E1E1E1;
}

.header_cont{
    background: #F3F3F3;
    height:38px;
    padding:7px 10px;
}

.header_cont div.title{
    float:left;
    margin-top: 4px;
}

.body_cont{
    padding:10px;
}

div.icons{
    float:left;
    font-size: 11px;
    color: #2370A1;
    text-align:center;
    margin-right:10px;
}

div.icons a{
    text-decoration: none;
}

.list_table{
    border-collapse:collapse;
    border:1px solid #E1E1E1;
}

.list_table th, .list_table td{
    border:1px solid #E1E1E1;
    text-align:left;
    padding: 5px;
}

.bcrumb{
    margin-bottom:5px;
}

.bcrumb, .bcrumb a{
    color:grey;
    font-size:0.9em;
}

.paginationControl{
    margin-top: 10px;
}

input.numbers{
    width:47px;
}

.form-error ul{
    list-style: none;
    padding: 5px 0 0;
    color: red;
}

.filter{
    font-size: 11px;
}

.ui-widget-header{
    font-size: 11px;
}

.ui-widget-content{
    font-size: 1em;
}

a.dashboard_buttons{
    color: #2370A1
}