<?php
//specify here the bcrypt "salt" and "cost" specific for your environment,
//which are going to be used by Zend\Crypt\Password\Bcrypt()
//see http://framework.zend.com/manual/current/en/modules/zend.crypt.password.html#bcrypt
return array(
    'bcrypt' => array(
        'cost' => 7
    )
);